@import "tailwindcss";

@font-face {
  font-family: "Aeonik TRIAL";
  src: url("/fonts/AeonikTRIAL-Regular.otf") format("opentype"),
       url("/fonts/AeonikTRIAL-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik TRIAL";
  src: url("/fonts/AeonikTRIAL-Bold.otf") format("opentype"),
       url("/fonts/AeonikTRIAL-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@theme {
  --font-sans: "Aeonik TRIAL", "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


